<h1 id="tableLabel">Students</h1>

<p *ngIf="!students"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Major</th>
      <th>Average Grade</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.major }}</td>
      <td [ngClass]="{'green-grade': student.averageGrade >= 80,
      'orange-grade': student.averageGrade >= 50 && student.averageGrade < 80,
      'red-grade': student.averageGrade < 50}">{{ student.averageGrade }}</td>
      <td><Button type="button" class="btn btn-danger" (click)="openDialog(student.id)">Delete</Button></td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary" [routerLink]="['/student']" routerLinkActive="router-link-active" >Add New Student</button>
